# ignore files and folders

*.db
*.suo
*.opendb
*.aps
*.ipch
*.vcxproj.user
/.vs
/build/Windows/vs14/.vs
/build/Windows/vs14/Debug
/build/Windows/vs14/Release
/build/Windows/vs14/vglyph/Debug
/build/Windows/vs14/vglyph/Release
/build/Windows/vs14/vglyph-static/Debug
/build/Windows/vs14/vglyph-static/Release
/build/Windows/vs14/vglyph-test/Debug
/build/Windows/vs14/vglyph-test/Release
/build/Windows/vs14/vglyph-test-static/Debug
/build/Windows/vs14/vglyph-test-static/Release

/wrappers/csharp/.vs
/wrappers/csharp/bin
/wrappers/csharp/obj
